/*---------------------------------------------------------- 
Containers
----------------------------------------------------------*/
body{
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
    color: #333;
    font-family: 'Roboto', arial, sans-serif;
}

#navbar{
    background: transparent;
    z-index: 99;
    border-radius:0px !important;
    background: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    /*color: #ffd700;*/
    color: #000;
}

section{
    padding: 50px;
    background: #f5f5f5;
    min-height: 45vh;
}

#banner{
    padding: 0px;
    /*padding-top: 15px;*/
    background: rgba(0, 0, 0, 0.56);
    height: 60vh;
    color: #ffffff;
}

#initial{
    background: white;
}

#overview{
    padding: 0px;
    background: transparent;
    position: absolute;
    top: 100px;
    left: 20%;
    color: white;
}

#status{
    padding-top: 53px;
    text-align: center;
}

#contact{
    background: #253340;
}

#device{
    background: #2cdcb9;
}

footer {
    color: #ffffff;
    padding: 20px 0;
    background-color: #079FD0;
}
/*---------------------------------------------------------- 
Typography
----------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    font-weight: 700;
}

h2{
    font-size: 37px;
}

h3{
    font-size: 26px;
    /*color: #ec6952;*/
    margin-top: 0;
    text-align: left;
    margin-bottom: 15px;
    font-weight: 300;
}


p{
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    font-size: 18px;
}

#banner p{
    color: #fff;

}

.title{
    padding-top: 45px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-transform: uppercase;
}

.title-small{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
}

.intro{
    color: #999999;
    margin-bottom: 30px;
    font-size: 18px;
}

.figure-caption {
    color: #b3b3b3;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
/*---------------------------------------------------------- 
CUSTOM ELEMENTS
----------------------------------------------------------*/
a.btn-cta-primary, .btn-cta-primary {
    background: #ec6952;
    border: 2px solid #ec6952;
    color: #fff;
}

.btn-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    text-decoration: none;
    margin-top: 15px;
}


.item {
    padding: 70px 0;
    /*border-bottom: 1px solid #eeeeee;*/
}

.item.last-item {
    border-bottom: none;
}

.quote {
    position: relative;
}

.quote .quote-profile {
    position: absolute;
    left: 0;
}

.quote-content {
    margin-left: 90px;
    background: #f5f5f5;
    border-left: 4px solid #e8e8e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
    padding: 15px;
}

.content  p{
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
}

.quote .quote-content:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #e8e8e8;
    position: absolute;
    left: 80px;
    top: 25px;
}

.quote img{
    height: 70px;
}

.quote blockquote {
    border-left: none;
    font-style: italic;
    color: #666666;
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px;
}

.quote .source {
    color: #999999;
    font-size: 13px;
    margin-bottom: 0;
}

.nopadding{
    padding: 0px;
}

.highlight{
    color: #18bc9c;
    font-weight: 900 !important;
}
/*---------------------------------------------------------- 
BOOTSTRAP AND HTML ELEMENTS
----------------------------------------------------------*/
.form-control {
    height: 39px;
}

.well{
    background-color:#fff !important;
    min-height: 200px;
    text-align: center;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {    
    #overview{
        left: 25px;
        top: 35px;
    }

    section {
        padding: 25px;
    }

    .content p {
        line-height: 1;
        font-size: 14px;
    }

    .well {
        min-height: 140px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {  
    #banner{
        height: 50vh;
    }

    section {
        padding: 20px 10px;
    }

    h2 {
        font-size: 35px;
    }

    .item {
        padding: 30px 0;
        /*border-bottom: 1px solid #eeeeee;*/
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {   
    #banner{
        height: 45vh;
    }

    #overview {
        left: 0;
        top: 40px;
    }

    section {
        padding: 10px 5px;
    }

    .title {
        padding-top: 48px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .intro {
        font-size: 13px;
        text-align: justify;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 22px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 10px;
    }

    #status {
        padding-top: 0px; 
    }

    .item {
        padding: 20px 0;
    }

    .well {
        min-height: 120px;
        text-align: justify;
    }

    footer{
        font-size: 11px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    #banner {
        height: 50vh;
    }
}

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 110px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 88px;
    height: 88px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.plans{
    min-height: 200px;
}

.no-border{
    border:0;
}

.trial{
    background: #00B7F1 !important;
    border-color: #00B7F1 !important;
    color:#fff !important;
}

.single{
    background: #208CCA !important;
    border-color: #208CCA !important;
    color:#fff !important;
}

.multiple{
    background: #20B0CA !important;
    border-color: #20B0CA !important;
    color:#fff !important;
}

.submitBtn{
    font-size: 24px;
    width: 300px;
    margin-left: 37.333333%;font-size:32px;padding:0px;width: 23%;font-weight: lighter;
}

/*pc, large screen*/
.headingText{
    text-transform: none;font-size:72px;padding-top:100px;
}

.subHeadingText{
  font-weight: 500;font-size: 33px;
}

.headingTrialPanel{
    background: #fff;width:95%;margin:0 auto;border-bottom: 3px solid rgb(236, 240, 241);background: #fff !important;
}

.trialText{
    padding-top:10px;font-size: 32px;color:#00b7f1;text-transform: uppercase;
}

.bannerPanel{
    /*width:29%;margin-left:35.22222222%*/
}

.netproPlan{
    width: 29% !important;
}

.subheadingParagraph{
    margin-bottom: 0px;font-size:26px;padding-bottom:10px;color:#787878;font-weight: lighter;
}

.section1Paragraph{
    font-size:21px !important;color:#787878
}

#carousel-indicators{
    position: relative;top:450px;
}

.fa-check{
    font-size:37px !important;
}

.testimonialHeader{
    font-size:28px;color:#00b7f1
}

.carousel .carousel-indicators {
    bottom: -40px;
}

.triangleContainer{
    padding:20px;margin:20px;
}

.triangleParagraph{
    font-size: 17px;color:#787878;padding-top:10px
}

.triangleParagraphWithPadding{
    font-size: 17px;color:#787878;padding-top:10px
}

#testimonial{
    min-height: 650px;padding:40px 0px 0px 0px; clear:both; background-image:url('images/backgrounds/testimonial.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactForm{
    padding:50px;
}

.well {
    padding:16px !important;
}

.section2TextContent{
    font-weight:normal;font-size:21px;padding-top:10px;color:#787878;
}

.whyNetproSubHeading{
    font-weight: normal;color:#00b7f1;font-size:32px;padding-bottom:15px;
}

.testimonialAuthor{
    margin-left:30%
}

.testimonial1Position{
    position:relative;top:10px;margin-top:10px;font-size:19px;font-weight: normal;
}

.authorName{
    margin-top:30px;line-height: .6 !important;text-align: justify;
}

/*tablet portrait*/
@media only screen and (max-width: 768px){
    .white-text{
        color:#fff !important;
    }

    .loginBtn{
        color: #fff !important;
        float: left !important;
        margin-top: -5px;
        height: 30px;
        padding-top:5px;
    }

    .jumbotron {
        height: 40em !important;
    }

    .headingText{
        text-transform: none;font-size:50px !important;padding-top:0px;
    }

    .subHeadingText{
        font-weight: 900;
        font-size: 24px;
        color:#fff;
    }

    .headingTrialPanel{
        background: #fff;width:95%;margin:0 auto;border-bottom: 3px solid rgb(236, 240, 241);background: #fff !important;
    }

    .trialText{
        padding-top:10px;font-size: 32px;color:#00b7f1;text-transform: uppercase;
    }

    .bannerPanel{
        width:55%;margin-left:22%
    }

    .subheadingParagraph{
        margin-bottom: 0px;font-size:20px;padding-bottom:10px;color:#787878;font-weight: lighter;
    }

    .trialBtn{
        width: 93%;
        margin-left:3%;
        font-size: 23px;
    }

    .well{
        /*min-height: 300px;*/
        background-color:#F9F9F9 !important;
    }

    .section2Icon, .section2Paragraph>h3{
        text-align: center;
    }

    .section1Paragraph{
        font-size:20px !important;color:#787878
    }

    #carousel-indicators{
        position: relative;top:550px;
    }

    .testimonialHeader{
        font-size:20px;
        color:#00b7f1
    }

    .triangleContainer{
        padding:20px 0px !important;
        margin:20px 0px !important;
    }

    .triangleParagraph{
        font-size: 17px;color:#787878;padding-top:10px
    }

    .triangleParagraphWithPadding{
        font-size: 17px;color:#787878;padding-top:10px
    }

    .pricingTable{
        margin-bottom:50px;
    }

    .navbar-brand>img {
        height: 37px !important;
        width: 162px !important;
        margin-top: 4px !important;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #128f76;
    }
}

/*tablet landscape*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .bannerPanel{
        width:55%;margin-left:22%
    }

    .section1Content, .section2Icon, .section2Paragraph>h3{
        text-align: center;
    }

    .section2Paragraph{
        position: relative;
        top:25px;
    }
}

/*phone portrait*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .navbar-brand>img {
        height: 100% !important;
        width: 100% !important;
        margin-top: 4px !important;
    }

    .bannerPanel {
        width: 95%;
        margin-left: 2%;
    }

    .subHeadingText{
        font-size:18px;
    }

    .jumbotron {
        height: 38em !important;
    }

    .headingText {
        text-transform: none;
        font-size: 26px !important;
        padding-top: 0px;
    }

    .navbar {
        min-height: 70px !important;
    }

    .section2Icon, .section2Paragraph>h3{
        text-align: center;
    }

    .trialText{
        font-size:22px;
    }

    .well{
        text-align: center;
    }

    .subheadingParagraph,.trialBtn{
        font-size: 16px;
    }

    .submitBtn{
        font-size: 24px;
        width: 300px;
        margin-left: 0%;font-size:22px;padding:0px;width: 100%;font-weight: lighter;
    }

    .contactForm{
        padding:20px;
    }

    .footer-text{
        font-size:12px;
    }

    .whyNetproSubHeading{
        font-weight: normal;color:#00b7f1;font-size:20px !important;padding-bottom:15px;
    }

    .section2Content{
        font-weight:normal;font-size:18px;padding-top:10px;color:#787878;
    }

    .testimonialAuthor{
        margin-left:0%
    }

    .carousel .item .img-box {
        width: 95px !important;
        height: 75px !important;
        margin: 0 auto;
        padding: 15px;
        border-radius: 10% !important;
    }

    .carousel .item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 390px;
    }

    .testimonial1Position{
        position:relative;top:10px;font-size:12px;font-weight: normal;
    }

    .authorName{
        margin-top:10px;line-height: .6 !important;text-align: justify;
    }

    input[type="text"],[type="email"]{
        font-size: 16px !important;
    }  

    #yourMessage { font-size: 16px !important; }
}

/*Phone Landscape */
@media only screen 
  and (min-device-width: 120px) 
  and (max-device-width: 580px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .section1Content,.section2Content{
        width: 50% !important;
    }

    .section2Content{
        width: 50% !important;
    }

    .section2TextContent{
        font-weight:normal;font-size:18px;padding-top:10px;color:#787878;
    }

    .navbar {
        min-height: 70px !important;
    }

    .section2Paragraph{
        width: 100%;
    }

    .section2Icon, .section2Paragraph>h3, .section2Content{
        text-align: center !important;
    }

    .trialText{
        font-size:22px;
    }

    .well{
        text-align: center;
    }

    .subheadingParagraph,.trialBtn{
        font-size: 16px;
    }

    .submitBtn{
        font-size: 24px;
        width: 300px;
        margin-left: 0%;font-size:22px;padding:0px;width: 100%;font-weight: lighter;
    }

    input[type="text"],[type="email"]{
        font-size: 16px !important;
    }  

    #yourMessage { font-size: 16px !important; }
}

.scrollToTop{
   opacity: 0.7;
display: inline-block;
background-color: #00B7EF;
width: 30px;
height: 30px;
text-align: center;
border-radius: 4px;
margin: 30px;
position: fixed;
bottom: 35px;
right: 0px;
transition: background-color .3s;
z-index: 1000;

}
.scrollToTop:hover{
    cursor: pointer;
    background-color: #333;
}

.scrollToTop:active {
  background-color: #555;
}

.scrollToTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 30px;
  color: #fff;
}

ul.a {
    list-style-position: outside;
}

ul.a > li {
    margin: 10px 0;
}

ul.a > li > strong {
    font-size:18px;
}

ul.a > li > ul {
    margin: 0 33px;
}

.listNumber{
    padding-right:10px;
    font-weight: bolder;
}
