/*---------------------------------------------------------- 
Containers
----------------------------------------------------------*/
body{
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
    color: #333;
    font-family: 'Roboto', arial, sans-serif;
}

#navbar{
    background: transparent;
    margin-top: 20px;
    z-index: 99;
    
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffd700;
}

section{
    padding: 50px;
    background: #f5f5f5;
    min-height: 45vh;
}

#banner{
    padding: 0px;
    padding-top: 15px;
    background: rgba(0, 0, 0, 0.56);
    height: 60vh;
    color: #ffffff;
}

#initial{
    background: white;
}

#overview{
    padding: 0px;
    background: transparent;
    position: absolute;
    top: 100px;
    left: 20%;
    color: white;
}

#status{
    padding-top: 53px;
    text-align: center;
}

#contact{
    background: #253340;
}

#device{
    background: #2cdcb9;
}

footer {
    color: #ffffff;
    padding: 20px 0;
    background-color: #253340;
}
/*---------------------------------------------------------- 
Typography
----------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    font-weight: 700;
}

h2{
    font-size: 37px;
}

h3{
    font-size: 26px;
    color: #ec6952;
    margin-top: 0;
    text-align: left;
    margin-bottom: 15px;
    font-weight: 300;
}


p{
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    font-size: 18px;
}

#banner p{
    color: #fff;

}

.title{
    padding-top: 45px;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-transform: uppercase;
}

.title-small{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
}

.intro{
    color: #999999;
    margin-bottom: 30px;
    font-size: 18px;
}

.figure-caption {
    color: #b3b3b3;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}
/*---------------------------------------------------------- 
CUSTOM ELEMENTS
----------------------------------------------------------*/
a.btn-cta-primary, .btn-cta-primary {
    background: #ec6952;
    border: 2px solid #ec6952;
    color: #fff;
}

.btn-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    text-decoration: none;
    margin-top: 15px;
}


.item {
    padding: 70px 0;
    border-bottom: 1px solid #eeeeee;
}

.item.last-item {
    border-bottom: none;
}

.quote {
    position: relative;
}

.quote .quote-profile {
    position: absolute;
    left: 0;
}

.quote-content {
    margin-left: 90px;
    background: #f5f5f5;
    border-left: 4px solid #e8e8e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 14px;
    padding: 15px;
}

.content  p{
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
}

.quote .quote-content:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #e8e8e8;
    position: absolute;
    left: 80px;
    top: 25px;
}

.quote img{
    height: 70px;
}

.quote blockquote {
    border-left: none;
    font-style: italic;
    color: #666666;
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px;
}

.quote .source {
    color: #999999;
    font-size: 13px;
    margin-bottom: 0;
}

.nopadding{
    padding: 0px;
}

.highlight{
    color: #18bc9c;
}
/*---------------------------------------------------------- 
BOOTSTRAP AND HTML ELEMENTS
----------------------------------------------------------*/
.form-control {
    height: 39px;
}

.well{
    min-height: 170px;
    text-align: center;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {    
    #overview{
        left: 25px;
        top: 35px;
    }

    section {
        padding: 25px;
    }

    .content p {
        line-height: 1;
        font-size: 14px;
    }

    .well {
        min-height: 140px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {  
    #banner{
        height: 50vh;
    }

    section {
        padding: 20px 10px;
    }

    h2 {
        font-size: 35px;
    }

    .item {
        padding: 30px 0;
        border-bottom: 1px solid #eeeeee;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {   
    #banner{
        height: 45vh;
    }

    #overview {
        left: 0;
        top: 40px;
    }

    section {
        padding: 10px 5px;
    }

    .title {
        padding-top: 48px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .intro {
        font-size: 13px;
        text-align: justify;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 22px;
    }

    h3{
        font-size: 20px;
    }

    p{
        font-size: 10px;
    }

    #status {
        padding-top: 0px; 
    }

    .item {
        padding: 20px 0;
    }

    .well {
        min-height: 120px;
        text-align: justify;
    }

    footer{
        font-size: 11px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    #banner {
        height: 50vh;
    }
}



