/* Navbar collapse trigger*/
@media(max-width:993px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .ribbon-wrapper {
        width: 85% !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .featuredChamps {
        max-height: 750px !important;
    }

    .ribbon-wrapper {
        width: 100% !important;
    }

    #admin-head {
        font-size: 21px !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .page-content{
        top: 45px !important;
    }

    .navbar {
        min-height: 45px;
    }

    .navbar-brand{
        height:45px;
    }

    .navbar-brand>img {
        height: 37px !important;
        width: 162px;
        margin-top: 4px !important;
    }

    .navbar-toggle{
        margin-right: 15px;
        padding: 7px 8px;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    .navbar-toggle .icon-bar {
        width: 14px;
        height: 1px;
    }

    .page-header{
        font-size: 27px !important;
    }

    .sub-header {
        font-size: 17px  !important;
    }

    .content-header {
        font-size: 16px  !important;
    }

    .badge{
        font-size: 11px;
    }

    .DTTT_container, .dataTables_filter {
        display: none;
    }

    .form-control{
        font-size: 13px;
        height: 28px;
    }

    .filters #from, .filters #to {
        width: 107px;
    }

    .btn-circle {
        height: 26px !important;
        width: 25px !important;
        margin-top: -6px !important;
        padding: 5px !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main-content{
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 5px 7px !important;
        margin-top: 15px !important;
    }

    .ribbon-heading h2 {
        font-size: 15px !important;
    }

    .ribbon-heading h6 {
        font-size: 12px !important;
    }

    .page-content{
        top: 35px !important;
    }
    /*==========================================================================
       Navigation menu
       ==========================================================================*/
    .navbar {
        min-height: 40px;
    }

    .navbar-brand{
        height:40px !important;
    }

    /*    .navbar-brand>img {
            height: 32px !important;
            width: 57px !important;
            margin-top: 4px !important;
        }*/

    .navbar-toggle{
        margin-right: 35px;
        padding: 7px 8px;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    .navbar-toggle .icon-bar {
        width: 14px;
        height: 1px;
    }

    .navbar-nav, .navbar-right {
        margin: 0px -15px;
    }

    .navbar-nav > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 12px;
    }

    .modal-header {
        padding: 5px 8px 5px 8px;
        min-height: 25px;
    }

    .modal-header h2{
        font-size: 15px;
    }

    .modal-header .close{
        font-size: 18.5px;
    }

    .modal-body {
        padding: 12px;
    }

    .form-control{
        height: 25px;
        font-size: 11px;
    }z

    .input-group-addon {
        padding: 0px 6px;
        font-size: 11px;
    }

    .modal-footer {
        padding: 6px 8px;
    }

    .navbar .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff;
        font-size: 12px;
    }
    .alert{
        font-size: 10px;
    }

    .page-header {
        font-size: 24px !important;
    }

    .latest-record {
        font-size: 11px;
        position: absolute;
        left: 10px;
        top: 46px;
    }

    .filters #from, .filters #to {
        width: 100px !important;
        margin-top: 5px !important;
    }


    .filters {
        float: left !important;
        padding-top: 16px;
    }

    #npsProfileFilters{
        margin-top: 5px;
    }

    #sideprofile, #profile-content{
        height: auto !important;
    }

    #trackerTables{
        margin-bottom: 10px !important;
        height: auto !important;
    }

    #ProfilePic {
        height: 150px !important;
    }

    .btn-sm, .btn-group-sm>.btn {
        font-size: 12px !important;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .navPic {
        height: 32px !important;
        margin-left: 12px;
    }

    #featuredChampsInteraction, #featuredChampsEpisode {
        overflow-x: auto !important;
    }

    #Dashboard-Alert h5 {
        padding-top: 1px !important;
    }

    #Feedback{
        min-height: 330px !important;
    }

    #founders{
        display: none;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}