/*==========================================================================
Containers
==========================================================================*/
body{
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    /*background: url(../../images/backgrounds/xmas.PNG) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background: url(../../images/backgrounds/cork-wallet.png) repeat;
    font-family: 'Roboto', arial, sans-serif;
}

.main-wrapper{
    width: 100%;
    position:relative;
}

.page-content{
    width: inherit;
    position: absolute;
    top: 60px;
    padding-top: 20px;
}

.main-content{
    border: 2px solid rgba(204, 204, 204, 0.18);
    border-radius: 5px;
    padding: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.91);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
}

.main-content:first-child{
    margin-top: 0px !important;
}

.max{
    max-height: 765px;
}

.med{
    max-height: 500px;
}


.min{
    max-height: 375px;
}

/*==========================================================================
Navigation menu
==========================================================================*/
#navbar {
    background-color:rgba(29, 57, 60, 0.96);
    border-color: transparent;
    margin-bottom: 0px;
}

.navbar-brand {
    padding:0;
    padding-left: 25px;
}

.navbar-brand>img {
    height: 55px;
    width: 100px;
    margin-top: 2px;
}

.navPic{
    height: 60px;
    border-left: 4px solid rgb(106, 195, 93)
}

.nav>li>a {
    font-weight: 600;
}

.navbar-nav>li>a:hover{
    color:#18bc9c !important;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    /*background-color: rgb(171, 218, 211);*/
    background-color:rgb(225, 240, 246);
    color: #2C5650;
    cursor: pointer;
}

/*==========================================================================
Typography
==========================================================================*/
h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
}

h2{
    font-size: 25px;
}

.page-header{
    float: left;
    margin: 0px;
    padding-bottom: 0;
    border-bottom: 0;
    display: inline-block;
    color: #fd7f06;
    font-size: 30px;
    font-weight: 600;
}

.sub-header{
    font-size: 20px;
    //color: #06c1fd;
    color: #071230;
    border-bottom: dotted 1px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.content-header{
    margin-bottom: 5px;
}

.latest-record{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: -10px;
}

/*==========================================================================
BOOTSTRAP ELEMENTS
==========================================================================*/
ul,li,ol{
    list-style: none;
}

a, .dropdown{
    text-decoration: none !important;
    cursor: pointer;
}

.form-control {
    padding: 0px 6px;
    height: 32px;
}

.btn{
    -webkit-box-shadow: 2px 3px 0px rgba(4, 4, 4, 0.3);
    -moz-box-shadow:    2px 3px 0px rgba(4, 4, 4, 0.3);
}

.btn:active {
    margin-top: 3px;
    margin-bottom: -3px;
}

.btn-hover {
    font-weight: normal;
    color: #333333;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}

.btn-hover-alt {
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    background-color: inherit;
    border-color: transparent;
}

.btn-sm{
    padding: 4px 7px;
    margin-top: -2px;
}

form{
    margin: 0px;
}

.alert{
    margin-bottom: 0;
    padding: 11px 15px;
}

.listLink .active{
    border-radius: 0px !important;
    background: transparent !important;
    color: gold !important;
}


.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
    background: #d97160;
    color: #ffffff;
    border-color: #d97160;

}

.btn-outline {
    color: #ffffff;
    background-color: #ec8b7b;
    border-color: #ec8b7b;
}



/*==========================================================================
HTML ELEMENTS
==========================================================================*/
.table{
    margin: 0;
    width: 100% !important;
}

thead{
    background: #F3F3F3;
}

th{
    font-size: 13px;
    font-weight: bold;
    background: #BDE6E7;
    text-align: center;
    word-wrap: break-word;
}

.table-bordered th, .table-bordered td{
    border: 1px solid #9ACFDC !important;
    border-left-width: 0 !important;
    border-bottom-width: 0 !important;
}

td{
    font-size: 13px;
    word-wrap: break-word;
    padding: 7px !important;
}

/*==========================================================================
DataTables ELEMENTS
==========================================================================*/
.dataTables_wrapper {
    font-size: 14px !important;
}

.dataTables_length{
    display: inline-block !important;
}

select.input-sm {
    height: 30px;
}

a.dt-button {
    padding: 0.5em !important;
}

.dataTables_info {
    float: left !important;
}

.dataTables_filter {
    text-align: right;
    float: right;
    margin-right: 10px;
}

.dt-buttons {
    float: right !important;
}

.dataTable, .dataTable thead th{
    border-bottom: 0px !important;;
}

.dataTable thead th, table.dataTable thead td {
    padding: 4px 6px!important;
}

.dataTable .btn-sm{
    padding: 6px !important;
}



.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 1px 8px !important;
    font-size: 14px !important;
    margin-left: 2px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #333333 !important;
    border: 1px solid transparent;
}

.pagination>li>a{
    padding: 4px 10px;
    cursor: pointer !important;
}

.no-bg table.dataTable tbody tr, .no-bg table.dataTable tbody td{
    background-color: transparent !important;;
}

/*==========================================================================
DatePicker ELEMENTS
==========================================================================*/

.ui-datepicker-div{
    z-index: 1;
}
.ui-widget {
    font-size: 12px !important;
}

.ui-datepicker th {
    padding: 5px 0px !important;
}

.ui-datepicker td {
    border: 0;
    padding: 0px !important;
}

.ui-datepicker td span, .ui-datepicker td a {
    text-align: center !important;
}
/* =========================================================================
Custom Made Elements
==========================================================================*/
.left5px{
    padding-left: 5px;
}

.right5px{
    padding-right: 5px;
}

.loader{
    //padding-top: 40px;
    text-align: center;
}

.loader i{
    font-size: 100px;
    color: #2C79AF;
}

.btn-circle {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    padding: 0px 7px;
    font-size: 13px;
    text-align: center;
    line-height: 1.42;
    border-radius: 15px;
}

.filters{
    float: right;
}

.filters #from, .filters #to{
    padding-right: 30px;
    width: 130px;
}

.filters img{
    margin-top: -3px;
    padding-right: 10px;
    margin-left: -24px;
}

.filters .form-control{
    display: inline-block;
    width: 130px;
}

.toggle.btn {
    border-radius: 10px;
    margin-top:-2px;
    padding-left: 17px !important;
    min-width: 59px !important;
    min-height: 30px !important;
}

.toggle-group label{
    padding: 4px;
}

.chat-body{
    padding: 6px;
}


.error_div{
    font-size: small;
}

.error_div h4{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
}

.error_div .alert{
    margin-bottom: 20px;
}

/*=========================================================================
   DashBoard
==========================================================================*/
#featuredChampsInteraction,#featuredChampsEpisode{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 675px;
}

.featuredChamps{
    max-height: 738px;
}

#InteractionChamps, #EpisodeChamps{
    overflow-y: auto;
    max-height: 482px;
}

#npsTarget{
    margin-top: 0px;
    padding-bottom: 30px;
    overflow-y: scroll;
    max-height: 720px;
}

.ChampPic{
    height: 100px;
    width: 100px;
    background: #d9d9d9;
    margin-bottom: 10px;
}

.nps-badge-gold{
    width: 100px;
    height: 95px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    background-color: #ffd700;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd700), to(#ffc200));
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
}

.nps-badge-blue{
    width: 100px;
    height: 95px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    background-color: #20c8fe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#20fefd), to(#20c8fe));
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
}

.nps-badge-orange{
    width: 100px;
    height: 95px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    background-color: #fe7c53;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fe7c53), to(#fe8e20));
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
}

.nps-badge-green{
    width: 100px;
    height: 95px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    background-color: #18bc9c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#18bc9c), to(#18bc9c));
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
}

.nps-badge-gold h4, .nps-badge-blue h4, .nps-badge-orange h4, .nps-badge-green h4{
    padding-top: 17px;
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.nps-badge-gold small, .nps-badge-blue small, .nps-badge-orange small, .nps-badge-green small{
    color: #555555;
    font-weight: bold;
    text-transform: uppercase;
}

.ribbon-wrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 71%;
    min-height: 245px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.5);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.5);
    position: relative;
    z-index: 90;
}

.ribbon-heading{
    margin: 0px;
    padding: 0px;
    border-bottom: dotted 2px #018aea;
}

.ribbon-heading h2{
    text-transform: uppercase;
    font-size:17px;
}

.ribbon-heading h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.ribbon-heading h6{
    font-size:14px;
    margin-bottom: 13px;
}

.survey{
    background: #BFDC7A;
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}

.ribbon-wrapper-gold {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-gold {
    font: bold 14px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 3px;
    left: -5px;
    top: 15px;
    width: 120px;
    background-image: -webkit-linear-gradient(top, #ffd700, #ffc200);
    background-image:    -moz-linear-gradient(top, #ffd700, #ffc200);
    background-image:     -ms-linear-gradient(top, #ffd700, #ffc200);
    background-image:      -o-linear-gradient(top, #ffd700, #ffc200);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green {
    font: bold 14px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 3px;
    left: -5px;
    top: 15px;
    width: 120px;
    background-image: -webkit-linear-gradient(top, rgba(182, 251, 190, 0.82), rgba(28, 210, 6, 0.74));
    background-image: -moz-linear-gradient(top, rgba(182, 251, 190, 0.82), rgba(28, 210, 6, 0.74));
    background-image: -ms-linear-gradient(top, rgba(182, 251, 190, 0.82), rgba(28, 210, 6, 0.74));
    background-image: -o-linear-gradient(top, rgba(182, 251, 190, 0.82), rgba(28, 210, 6, 0.74));
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red {
    font: bold 14px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 3px;
    left: -5px;
    top: 15px;
    width: 120px;
    background-image: -webkit-linear-gradient(top, rgb(249, 170, 162), rgba(224, 55, 55, 0.91));
    background-image: -moz-webkit-linear-gradient(top, rgb(249, 170, 162), rgba(224, 55, 55, 0.91));
    background-image: -ms-webkit-linear-gradient(top, rgb(249, 170, 162), rgba(224, 55, 55, 0.91));
    background-image: -o-webkit-linear-gradient(top, rgb(249, 170, 162), rgba(224, 55, 55, 0.91));
    color: rgba(43, 41, 31, 0.78);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-orange {
    font: bold 14px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 3px;
    left: -5px;
    top: 15px;
    width: 120px;
    background-image: -webkit-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    background-image: -moz-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    background-image: -ms-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    background-image: -o-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    color: rgba(41, 40, 40, 0.78);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-gold:before, .ribbon-gold:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-gold:before, .ribbon-green:before ,.ribbon-red:before , .ribbon-orange:before {
    left: 0;
}

.ribbon-gold:after, .ribbon-green:before ,.ribbon-red:before , .ribbon-orange:before {
    right: 0;
}

.gold{
    background-color: #ffd700;
    background-image: -webkit-linear-gradient(top, #ffd700, #ffc200);
    background-image:    -moz-linear-gradient(top, #ffd700, #ffc200);
    background-image:     -ms-linear-gradient(top, #ffd700, #ffc200);
    background-image:      -o-linear-gradient(top, #ffd700, #ffc200);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.orange{
    background-color: rgba(245, 190, 145, 0.86);
    background-image: -webkit-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    background-image: -moz-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    background-image: -ms-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    background-image: -o-linear-gradient(top, rgba(239, 131, 20, 0.97), rgb(255, 133, 7));
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.blue{
    background-color: rgba(245, 190, 145, 0.86);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#20fefd), to(#20c8fe));
    background-image: -moz-gradient(linear, left top, left bottom, from(#20fefd), to(#20c8fe));
    background-image: -ms-gradient(linear, left top, left bottom, from(#20fefd), to(#20c8fe));
    background-image: -o-gradient(linear, left top, left bottom, from(#20fefd), to(#20c8fe));
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.emp-results{
    height: 60px;
    width: 100%;
    margin-bottom: 8px;
    border: solid 2px #c3bdbd;
    border-radius: 4px;
    display: inline-block;
}

.rank-container{
    float: left;
    position: relative;
    height: 100%;
    width: 18%;
    background: rgb(255, 255, 255);
    border-right: 2px solid #c3bdbd;
}

.rank-container h3{
    position: absolute;
    top: 5px;
    left: 4px;
    color: #FBC052;
}

.emp-details{
    float: left;
    position: relative;
    height:100%;
    width: 64%;
    padding: 1px 7px;
}

.emp-details .emp-name{
    font-weight: 600;
}

.emp-details h6{
    display: inline-block;
    margin-right:2px;
}

.emp-details .badge{
    font-size: 11px;
    margin-top: -8px;
}

.badge-green{
    background: #86AB35;
}

.badge-orange{
    background: #F1B330;
}

.badge-red{
    background: #EC6917;
}

.pic-container{
    float: left;
    position: relative;
    height: 100%;
    width: 18%;
    background: #FBC052;
    border-left: 2px solid #c3bdbd;
}

.pic-container .ca-pics{
    width: 100%;
    height: 100%;
}

#NpsScore{
    width: 100%;
    font-size: 16px;
    margin: 0 0 5px 0;
}

#Dashboard-Alert {
    height: 63px;
    padding: 10px;
    margin: 2px 0;
}

#Dashboard-Alert h5{
    padding-top: 12px;
}

/*==========================================================================
   Modals
 ==========================================================================*/
#feedbackmodal hr{
    margin-top: 10px;
    margin-bottom: 0px;

}

#feedbackmodal small, #feedbackmodal p{
    margin-top: 5px;
}

#feedbackmodal .modal-dialog{
    width: 800px;
}

div[class^="modal-content"], div[class*="modal-content"]{
    background-image: url(../../images/grey.png);
}

.modal-header {
    min-height: 45.428571px;
    background-color: rgba(49, 148, 122, 0.83);
    color: #ffffff;
}

.modal-body{
    background-color: rgba(238, 243, 243, 0.2);
}

.modal-footer{
    padding: 15px;
    background: rgba(188, 199, 199, 0.53);
}

/* ==========================================================================
   Admin Page
===========================================================================*/
#ShareType{
    display: none;
}

#admin-head{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    padding-left: 2px;
    font-size: 20px;
    color: #071230;
    border-bottom: dotted 1px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.admin-filters{
    margin-top: -48px;
    color: #fd7f06;
}
.btn-admin{
    margin-right: 3px;
    position: absolute;
    top: 8px;
    right: 18px;
}

/* ==========================================================================
   MYNPS Page
===========================================================================*/
#profiler{
    margin-top:13px;
    background: rgba(55, 175, 158, 0.83);
    margin-bottom: 30px;
    border-radius: 5px;
}

#sideprofile{
    padding: 30px 20px;
}

#profile-content{
    padding: 30px 20px;
    background: rgb(253, 253, 253);
    overflow: hidden;
}

#ProfilePic{
    height: 175px;
}

#user-name{
    margin-bottom:10px;
    font-weight: bold;
    color: #ffffff;
}

#trackerTables, #trackerGraph{
    min-width: 310px;
    height: 420px;
    margin: 0 auto
}

#userFeedback .feedback{
    color: #FFFFFF;
}

#userFeedback small{
    font-weight: bold;
    color: #091311;
}

/* ==========================================================================
   Accordions
===========================================================================*/
#accordion{
    margin-top: 20px;
}

#accordion .panel-title{
    display: inline-block;
    color: #071230;
}

#accordion .panel-title:hover{
    color:#18bc9c;
    font-weight: bold;
}

#accordion .panel .panel{
    margin-bottom: 21px !important;
}

/* ==========================================================================
   Reset Modal
===========================================================================*/
#greetings {
    padding: 0px 12px;
    margin: 0 0 20px;
    font-size: 13.75px;
    border-left: 4px solid #ecf0f1;
}

#pswd_info{
    margin-top: 10px;
    padding-left: 0px;
}

#pswd_info ul{
    padding-left: 13px;
}

#pswd_info .list-group-item {
    padding: 4px 15px;
    font-size: 13px;
}

#pswd_info .fa-check{
    color: #18bc43;
}

#pswd_info .fa-times{
    color:red;
}

.username_avail_result .passwordStrength{
    display:block;
    width:180px;
}

.successuser{
    color:#009900;
}

.erroruser{
    color:#F33C21;
}

.marker{
    float:right;
}
